/* Reset styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Body styles */
body {
  color: #20045b;
  background-color: whitesmoke;
}

/* Navigation styles */
.navbar {
  background-color: rgb(17, 5, 26);
  padding: 20px;
}

.navbar a {
  color: white;
  padding: 10px;
  font-size: 16px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: rgb(250, 159, 207);
}

/* Jumbotron styles */
.jumbotron {
  background-color: #0c4271;
  padding: 20px;
  color: white;
}

/* Section styles */
.section {
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 20px;
  margin: 50px;
  height: 100vh;
}

.dog-link {
  background-color: #b7f7f3;
  padding: 3px;
  border-radius: 3.5px;
  color: black;
}

.float-right {
  float: right;
  width: 40%;
  height: auto;
}

/* Container styles */
.container-fluid {
  padding: 2px;
  height: 100vh;
}

.container-fluid p,
.container-fluid li {
  font-size: 25px;
  padding: 20px;
  color: white;
}

.container-fluid h2,
.container-fluid h3 {
  font-size: 25px;
  color: whitesmoke;
  text-decoration: underline;
  text-transform: capitalize;
}

.container-fluid {
  background-color: #0c4271;
}

/* Idiom styles */
.idiom {
  text-transform: uppercase;
}

/* Footer styles */
.page-footer {
  background-color: black;
  padding: 20px;
  color: white;
  text-align: center;
}

.page-footer a:hover {
  background-color: #f9dfdc;
  padding: 7px;
  border-radius: 3px;
  color: black;
}

/* Media Query */
@media screen and (orientation: portrait) {
  .section-one {
    height: max-content;
  }
}
img{
  float: right;
}